@using Entities.Koica.SubjectMaterials;
@using WebApplication1.Areas.Koica.ViewModels;
@using static WebApplication1.Controllers.AccountController;
@model HomeVM
@{
	int count = 1;
}
@await Html.PartialAsync("_SubjectsPartialView", Model.Subject)


<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-12">
			<div class="card">
				@if (User.IsInRole(UserRoles.Teacher.ToString()))
				{
					@await Html.PartialAsync("_CreateModalPartialView", new CreateSubjectVM())
				}
				<div class="card-body table-responsive">

					@if (User.IsInRole(UserRoles.Teacher.ToString()))
					{
						<div class="text-right">
							<button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect btn-sm waves-light" data-toggle="modal" data-target="#exampleModalLive">
								Əlavə et
							</button>
						</div>
					}

					
					<div id="preview" class="noprint">
						<table id="t_list_item" border="1" cellspacing="0" cellpadding="0" width="100%" bordercolor="#b6bbc0" class="noprint" style="border-collapse:collapse; display:none;">
							<tbody>
								<tr>
									<td width="110px" align="center" class="list_title2" style="padding-top:5px;padding-bottom:5px;"><a onclick="item_edit('L03000000', '', 'list', '')">Bənd</a><br>Seçmək<input type="checkbox" name="" value="" onclick="check_all_input2(eeaa.check_item, this, 'list_item', 'list_txt');"></td>
									<td class="list_text1" style="padding-left:5px;">
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="cre_date|Tarix" checked=""><a onclick="item_edit('L03000000', 'cre_date', 'list', 'edit')">Tarix</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="cre_name|Müəllif" checked=""><a onclick="item_edit('L03000000', 'cre_name', 'list', 'edit')">Müəllif</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_category|Təyinatı"><a onclick="item_edit('L03000000', 'wr_category', 'list', 'edit')">Təyinatı</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_content|Məzmunu"><a onclick="item_edit('L03000000', 'wr_content', 'list', 'edit')">Məzmunu</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_file|Qoşma"><a onclick="item_edit('L03000000', 'wr_file', 'list', 'edit')">Qoşma</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_file1|Qoşma1"><a onclick="item_edit('L03000000', 'wr_file1', 'list', 'edit')">Qoşma1</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_file2|Qoşma2"><a onclick="item_edit('L03000000', 'wr_file2', 'list', 'edit')">Qoşma2</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_hit|Müraciətlərin sayı" checked=""><a onclick="item_edit('L03000000', 'wr_hit', 'list', 'edit')">Müraciətlərin sayı</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_title|Movzu" checked=""><a onclick="item_edit('L03000000', 'wr_title', 'list', 'edit')">Movzu</a>
										<input type="checkbox" name="check_item" onclick="check_one_input2(this, 'list_item', 'list_txt');" value="wr_type|Qrupların birləşdirilməsi"><a onclick="item_edit('L03000000', 'wr_type', 'list', 'edit')">Qrupların birləşdirilməsi</a>
									</td>
								</tr>
								<tr>
									<td width="110px" align="center" class="list_title2" style="padding-top:5px;padding-bottom:5px;">Seçilənlərin sıralanması</td>
									<td class="list_text1" id="list_txt" style="padding-left:5px;font-weight:bold;">|Movzu|Müəllif|Tarix|Müraciətlərin sayı|</td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellspacing="0" width="100%" class="noprint">
							<tbody>
								<tr>
									<td></td>
									<td align="right">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<table id="op_list" class="table table-striped table-bordered" border="1" cellspacing="0" cellpadding="0" width="100%">
						<thead class="text-center">
							<tr>
								<th width="50px" class="text-center">Nömrə</th>
								<th width="500px" class="text-center" style="word-break:keep-all;  ">Movzu</th>
								<th width="500px" class="text-center" style="word-break:keep-all;  ">Müəllif</th>
								<th width="500px" class="text-center" style="word-break:keep-all;  ">Tarix</th>
								<th width="500px" class="text-center" style="word-break:keep-all;  ">Müraciətlərin sayı</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.DidacticMaterials.Count == 0)
							{
								<tr>
									<td align="center" colspan="5" class="list_text1">Qeyd olunmuş material yoxdur</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (DidacticMaterial didacticMaterial in Model.DidacticMaterials)
                                {
									<tr>
										<td>@count</td>
										<td class="list_text1">
											<a href="#" data-toggle="modal" data-target="#getModal@(didacticMaterial.Id)">
												@didacticMaterial.Topic
											</a>
											@await Html.PartialAsync("_GetDidacticMaterialsModalPartialView", didacticMaterial)
										</td>
										<td class="list_text1">@didacticMaterial.Author</td>
										<td class="list_text1">@didacticMaterial.Date.ToString("dd MMMM")</td>
										<td class="list_text1">@didacticMaterial.NumOfApplications</td>
									</tr>

									count++;
								}
							}
						</tbody>
						<input type="hidden" name="str_list" value="">
					</table>


				</div>
			</div>
		</div>
	</div>

</div>



<script src="~/tinymce/js/tinymce/tinymce.min.js"></script>

<script>
	tinymce.init({
		selector: 'textarea#Content',
		width: 650,
		height: 400,
		plugins: [
			'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'prewiew', 'anchor', 'pagebreak',
			'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media',
			'table', 'emoticons', 'template', 'codesample'
		],
		toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify |' +
			'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
			'forecolor backcolor emoticons',
		menu: {
			favs: { title: 'menu', items: 'code visualaid | searchreplace | emoticons' }
		},
		menubar: 'edit insert format',
		content_style: 'body{font-family:Helvetica,Arial,sans-serif; font-size:16px}'
	});
</script>