@using Entities.Koica.SubjectMaterials;
@using WebApplication1.Areas.Koica.ViewModels;
@using static WebApplication1.Controllers.AccountController;
@model HomeVM
@{
    int count = 1;
}
@await Html.PartialAsync("_SubjectsPartialView", Model.Subject)


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @if (User.IsInRole(UserRoles.Teacher.ToString()))
                {
                    @await Html.PartialAsync("_CreateEvaluationModalPartialView", new CreateEvaluationVM())
                }
                <div class="card-body table-responsive">
                    @if (User.IsInRole(UserRoles.Teacher.ToString()))
                    {
                        <div class="text-right">
                            <button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect btn-sm waves-light" data-toggle="modal" data-target="#exampleModalLive">
                                Əlavə et
                            </button>
                        </div>
                    }
                    <div class="text-right">
                    </div>
                    <table id="datatable-task" class="table  table-bordered" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th nowrap="" width="50px" height="50" align="center" class="list_title1">Nömrə</th>
                                <th align="center" valign="middle" class="list_title1 text-center">Tədrisin növü</th>
                                <th align="center" valign="middle" class="list_title1 text-center">Qiymətləndirmə</th>
                                <th align="center" valign="middle" class="list_title1 text-center">Movzu</th>
                                <th align="center" valign="middle" class="list_title1 text-center">Müəllif</th>
                                <th align="center" valign="middle" class="list_title1 text-center">Başlanğıc</th>
                                <th align="center" valign="middle" class="list_title1 text-center">Son gun</th>
                            </tr>
                        </thead>


                        <tbody>
                            @if (Model.Evaluations.Count == 0)
                            {
                                <tr>
                                    <td align="center" colspan="7" class="list_text1">Qeyd olunmuş material yoxdur</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (Evaluation evaluation in Model.Evaluations)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td class="list_text1">@evaluation.TypeOfTeaching</td>
                                        @if (evaluation.EvaluationStudent == 0)
                                        {
                                            <td class="list_text1">
                                                Bəli(hələ)
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="list_text1">
                                                @evaluation.EvaluationStudent
                                            </td>
                                        }
                                        <td class="list_text1">
                                            <a href="#" data-toggle="modal" data-target="#getModal@(evaluation.Id)">
                                                @evaluation.Topic
                                            </a>
                                            @await Html.PartialAsync("_GetEvaluationModalPartialView", evaluation)
                                        </td>
                                        <td class="list_text1">@evaluation.Author</td>
                                        <td class="list_text1">@evaluation.Start.ToString("dd MMMM")</td>
                                        <td class="list_text1">@evaluation.End.ToString("dd MMMM")</td>

                                    </tr>

                                    count++;
                                }
                            }
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<script src="~/tinymce/js/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: 'textarea#Content',
        width: 650,
        height: 400,
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'prewiew', 'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media',
            'table', 'emoticons', 'template', 'codesample'
        ],
        toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify |' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons',
        menu: {
            favs: { title: 'menu', items: 'code visualaid | searchreplace | emoticons' }
        },
        menubar: 'edit insert format',
        content_style: 'body{font-family:Helvetica,Arial,sans-serif; font-size:16px}'
    });
</script>