@using Entities.Koica;
@model Subject
@{
    string getAction = (string) Url.ActionContext.RouteData.Values["action"];
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div style="padding: 10px 0;">
                <h6 style="font-size: 13px" class="page-title float-left">@Model.Name</h6>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->


    <div class="button-list text-center">
        <a asp-controller="Subjects" asp-action="Notification" asp-route-id="@Model.Id" class="btn btn-sm btn-rounded w-md waves-effect @(getAction == "Notification" ? "btn-danger": "btn-primary")">
            Bildiriş
        </a>
        <a asp-controller="Subjects" asp-action="Forum" asp-route-id="@Model.Id" class="btn btn-sm btn-rounded w-md waves-effect @(getAction == "Forum" ? "btn-danger": "btn-primary")">
            Forum
        </a>
        <a asp-controller="Subjects" asp-action="DidacticMaterials" asp-route-id="@Model.Id" class="btn btn-sm btn-rounded w-md waves-effect @(getAction == "DidacticMaterials" ? "btn-danger": "btn-primary")">
            Didaktik materiallar
        </a>


        <a asp-controller="Subjects" asp-action="Evaluation" asp-route-id="@Model.Id" class="btn btn-sm btn-rounded w-md waves-effect @(getAction == "Evaluation" ? "btn-danger": "btn-primary")">
            Qiymətləndirmə
        </a>

        <a asp-controller="Subjects" asp-action="Progress" asp-route-id="@Model.Id" class="btn btn-sm btn-rounded w-md waves-effect @(getAction == "Progress" ? "btn-danger": "btn-primary")">
            Cari müvəffəqiyyət
        </a>
    </div>
</div>